<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div class="center-vertical">
        <h1 style="color: gold">Currency Converter</h1>

        <form action="/convert" method="post">
            <label for="from_currency">From Currency:</label>
            <select name="from_currency" id="from_currency">
                {% for currency in currencies %}
                    <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
            </select>

            <label for "to_currency">To Currency:</label>
            <select name="to_currency" id="to_currency">
                {% for currency in currencies %}
                    <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
            </select>

            <label for="amount">Amount:</label>
            <input type="text" name="amount" id="amount" required>

            <button type="submit">Convert</button>
        </form>

        {% if result %}
            <p>{{ result }}</p>
        {% endif %}

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>
